<div class="AknFormContainer AknFormContainer--withPadding">
    <img style="height: 80px; margin-bottom: 1em;"
         src="/bundles/pimicecatconnector/img/icecat-logo.png"/>
</div>
<div class="AknFormContainer AknFormContainer--withPadding">
    <div class="AknFieldContainer">
        <div class="AknFieldContainer-header">
            <label class="AknFieldContainer-label"
                   for="credentials_username"><%-
                _.__('pim_icecat_connector.configuration.credentials_username') %></label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input class="AknTextField pim-icecat-config pim-icecat-credentials"
                   id="credentials_username" name="credentials_username"
                   type="text" value="<%- credentials_username %>"/>
        </div>
    </div>
    <div class="AknFieldContainer">
        <div class="AknFieldContainer-header">
            <label class="AknFieldContainer-label"
                   for="credentials_password"><%-
                _.__('pim_icecat_connector.configuration.credentials_password') %></label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input class="AknTextField pim-icecat-config pim-icecat-credentials"
                   id="credentials_password" name="credentials_password"
                   type="password" value="<%- credentials_password %>"/>
        </div>

    </div>
    <div class="AknFieldContainer">
        <div class="AknButtonList">
            <div class="AknButton AknButtonList-item" id="check-connection">Check connection</div>
        </div>
        <div id="connection-status-prototype" style="display:none">
            <i class="AknAcl-icon AknAcl-icon--%granted% icon-%icon%"></i>
            %status_message%
        </div>
        <div id="connection-status" class="AknAcl">
        </div>
    </div>

    <div class="AknFieldContainer">
        <div class="AknFieldContainer-header">
            <label class="AknFieldContainer-label"
                   for="ean_attribute"><%-
                _.__('pim_icecat_connector.configuration.ean_attribute')
                %></label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input class="pim-icecat-config select-field"
                   id="ean_attribute" name="ean_attribute"
                   type="hidden" value="<%- ean_attribute %>"/>
        </div>
    </div>
    <div class="AknFieldContainer">
        <div class="AknFieldContainer-header">
            <label class="AknFieldContainer-label"
                   for="description"><%-
                _.__('pim_icecat_connector.configuration.description')
                %></label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input class="pim-icecat-config select-field pim-icecat-config-text"
                   id="description" name="description"
                   type="hidden" value="<%- description %>"/>
        </div>
    </div>
    <div class="AknFieldContainer">
        <div class="AknFieldContainer-header">
            <label class="AknFieldContainer-label"
                   for="short_description"><%-
                _.__('pim_icecat_connector.configuration.short_description') %></label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input class="pim-icecat-config select-field pim-icecat-config-text"
                   id="short_description" name="short_description"
                   type="hidden" value="<%- short_description %>"/>
        </div>
    </div>
    <div class="AknFieldContainer">
        <div class="AknFieldContainer-header">
            <label class="AknFieldContainer-label"
                   for="summary_description"><%-
                _.__('pim_icecat_connector.configuration.summary_description') %></label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input class="pim-icecat-config select-field pim-icecat-config-text"
                   id="summary_description" name="summary_description"
                   type="hidden" value="<%- summary_description %>"/>
        </div>
    </div>
    <div class="AknFieldContainer">
        <div class="AknFieldContainer-header">
            <label class="AknFieldContainer-label"
                   for="short_summary_description"><%-
                _.__('pim_icecat_connector.configuration.short_summary_description') %></label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input class="pim-icecat-config select-field pim-icecat-config-text"
                   id="short_summary_description"
                   name="short_summary_description"
                   type="hidden" value="<%- short_summary_description %>"/>
        </div>
    </div>
    <div class="AknFieldContainer">
        <div class="AknFieldContainer-header">
            <label class="AknFieldContainer-label"
                   for="pictures"><%-
                _.__('pim_icecat_connector.configuration.pictures') %></label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input class="pim-icecat-config select-field"
                   id="pictures" name="pictures"
                   type="hidden" value="<%- pictures %>"/>
        </div>
    </div>
</div>
