<div>
    <img style="height: 80px; margin-bottom: 1em;"
         src="/bundles/pimicecatconnector/img/icecat-logo.png"/>
</div>
<div>
    <div class="control-group">
        <label class="control-label"
               for="pim_icecat_connector___ean_attribute"><%- _.__('pim_icecat_connector.configuration.ean_attribute') %></label>
        <input class="pim-icecat-config select-field"
               id="pim_icecat_connector___ean_attribute" name="pim_icecat_connector___ean_attribute"
               type="hidden" value="<%- ean_attribute %>"/>
    </div>
    <div class="control-group">
        <label class="control-label"
               for="pim_icecat_connector___description"><%- _.__('pim_icecat_connector.configuration.description') %></label>
        <input class="pim-icecat-config select-field"
               id="pim_icecat_connector___description" name="pim_icecat_connector___description"
               type="hidden" value="<%- description %>"/>
    </div>
    <div class="control-group">
        <label class="control-label"
               for="pim_icecat_connector___short_description"><%- _.__('pim_icecat_connector.configuration.short_description') %></label>
        <input class="pim-icecat-config select-field"
               id="pim_icecat_connector___short_description" name="pim_icecat_connector___short_description"
               type="hidden" value="<%- short_description %>"/>
    </div>
    <div class="control-group">
        <label class="control-label"
               for="pim_icecat_connector___summary_description"><%- _.__('pim_icecat_connector.configuration.summary_description') %></label>
        <input class="pim-icecat-config select-field"
               id="pim_icecat_connector___summary_description" name="pim_icecat_connector___summary_description"
               type="hidden" value="<%- summary_description %>"/>
    </div>
    <div class="control-group">
        <label class="control-label"
               for="pim_icecat_connector___short_summary_description"><%- _.__('pim_icecat_connector.configuration.short_summary_description') %></label>
        <input class="pim-icecat-config select-field"
               id="pim_icecat_connector___short_summary_description" name="pim_icecat_connector___short_summary_description"
               type="hidden" value="<%- short_summary_description %>"/>
    </div>
</div>
